.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.footer-menu .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-btn {
    background: none;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #07daff;
}

.footer-btn span {
    display: block;
    font-size: 0.9rem;
    margin-top: 4px;
}

/* Tamanho dos ícones do rodapé */
.footer-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

body::after {
    content: "";
    display: block;
    height: 60px; /* mesmo valor da altura do footer */
  }